<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mortgage Loan</title>
</head>
<body>
  <div class="container">
    <div>
      <input type="number" class="amount" name="mortgageLoan[amount]" placeholder="Amount requested" autofocus />
    </div>
    <div>
      <input type="number" class="term" name="mortgageLoan[term]" placeholder="Term (Max 30 years)" />
    </div>
    <div>
      <input type="number" class="income" name="mortgageLoan[income]" placeholder="Family income per month" />
    </div>
    <div>
      <input type="number" class="childCount" name="mortgageLoan[childCount]" placeholder="Number of children" />
    </div>
    <div>
      <input type="number" class="parentCount" name="mortgageLoan[parentCount]" placeholder="Number of parents" />
    </div>
  
    <button class="calcButton">Calculate</button>
  
    <div>
      <input type="number" class="monthlyPayment" readonly><span>/month</span>
    </div>
  </div>
  <script src="../dist/mortgage.js"></script>
</body>
</html>