<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Quick Loan</title>
</head>
<body>
  <div>
    <input type="number" id="amount" name="quickLoan[amount]" placeholder="Amount requested" autofocus />
  </div>
  <div>
    <input type="number" id="term" name="quickLoan[term]" placeholder="Term (Max 2 years)" />
  </div>

  <button></button>

  <div>
    <input type="number" id="quickLoanMonthly" readonly><span>/month</span>
  </div>
  <script src="../dist/quick.js"></script>
</body>
</html>